<div class="container-opl">
  
  <p id="notice"><%= notice %></p>
  
  <h1>Open Topics ShortList</h1>  
  
  <section>
        <div class="row">
        <table class="pretty table table-striped table-sm table-hover">
            <thead style="background-color: YellowGreen; ", class="table-head header">
              <tr>
                <th class="col-sl"><%= sortable "shortlist", "Short List" %></th>
                <th class="col-id"><%= sortable "id" %></th>
                <th class="col-no"><%= sortable "number", "No" %></th>
                <th class="col-su"><%= sortable "summary" %></th>
                <th class="col-ds"><%= sortable "description" %></th>
                <th class="col-op"><%= sortable "option" %></th>
                <th class="col-co"><%= sortable "component" %></th>
                <th class="col-ca"><%= sortable "category" %></th>
                <th class="col-pr"><%= sortable "prio" %></th>
                <th class="col-rp"><%= sortable "responsible", "Resp." %></th>
                <th class="col-st"><%= sortable "state" %></th>
                <th class="col-cm"><%= sortable "costmodel" %></th>
                <th class="col-av"><%= sortable "affects_version" %></th>
                <th class="col-it"><%= sortable "issue_ticket" %></th>
                <th class="col-tt"><%= sortable "ticket_text" %></th>
                <th class="col-nt"><%= sortable "notes" %></th>
                <th class="col-is"><%= sortable "in_sprint" %></th>
                <th class="col-is"><%= sortable "updated_at" %></th>
                <th class="col-is"><%= sortable "client" %></th>
                <th colspan="" class="sorttable_nosort"></th>
              </tr>
            </thead>
          
            <tbody>
              
              <% @on_shortlist.each do |on_shortlist| %>
      
                <%= form_for(on_shortlist) do |f| %>
                <tr>
                  <td><%= best_in_place on_shortlist, :shortlist, as: :select, :collection => [[false, "No!"], [true, "Yes!"]]  %></td>
                  <td><%= on_shortlist.id %></td>
                  <td><%= on_shortlist.number %></td>
                  <td><%= best_in_place on_shortlist, :summary, :as => :textarea  %></td>
                  <td><%= best_in_place on_shortlist, :description, :as => :textarea %></td>
                  <td><%= best_in_place on_shortlist, :option, :as => :textarea, 
                                                                  :place_holder => "Optionale Notizen eintragen..."  %></td>
                  <td><%= best_in_place on_shortlist, :component, as: :select, 
                                                            :collection => [["Facebook", "Facebook"], 
                                                            ["Gute Frage", "Gute Frage"], 
                                                            ["Youtube", "Youtube"], 
                                                            ["Instagram", "Instagram"], 
                                                            ["Foren", "Foren"], 
                                                            ["anderes SN (s. Beschreibung)", "anderes SN (s. Beschreibung)"],
                                                            ["Agent Desktop", "Agent Desktop"],
                                                            ["Overview Panel", "Overview Panel"],
                                                            ["Detail Panel", "Detail Panel"],
                                                            ["Statistik", "Statistik"],
                                                            ["FAQ", "FAQ"],
                                                            ["Publishing", "Publishing"],
                                                            ["Config", "Config"],
                                                            ["System allgemein", "System allgemein"],
                                                            ["Import", "Import"],
                                                            ["Filter", "Filter"],
                                                            ["sonstiges (s. Beschreibung)", "sonstiges (s. Beschreibung)"]], 
                                                                  :place_holder => "k.A. zur betroffenen Komponente"  %></td>
                  <td><%= best_in_place on_shortlist, :category, 
                                                          as: :select, 
                                                          :collection => [["FEATURE", "FEATURE"], 
                                                          ["BUG", "BUG"], 
                                                          ["IMPROVEMENT", "IMPROVEMENT"], 
                                                          ["PROJECT", "PROJECT"], 
                                                          ["STOPPED", "STOPPED"]], 
                                                                  :place_holder => "k.A. zur Kategorie" %></td>
                  <td><%= best_in_place on_shortlist, :prio,
                                                          as: :select, 
                                                          :collection => [["TRIVIAL", "TRIVIAL"], 
                                                          ["MINOR", "MINOR"], 
                                                          ["MAJOR", "MAJOR"], 
                                                          ["CRITICAL", "CRITICAL"], 
                                                          ["BLOCKER", "BLOCKER"]], 
                                                                  :place_holder => "k.A. zur Priorität" %></td>
                  <td><%= best_in_place on_shortlist, :responsible,
                                                          as: :select, 
                                                          :collection => [["PO", "PO"], 
                                                          ["PL", "PL"], 
                                                          ["QM", "QM"]], 
                                                                  :place_holder => "k.A." %></td>
                  <td><%= best_in_place on_shortlist, :state, 
                                                          as: :select, 
                                                          :collection => [["NEW", "NEW"], 
                                                          ["TO-DO", "TO-DO"], 
                                                          ["ANALYSIS", "ANALYSIS"], 
                                                          ["IN PROGRESS", "IN PROGRESS"], 
                                                          ["QA", "QA"], 
                                                          ["DONE", "DONE"], 
                                                          ["REJECTED", "REJECTED"]], 
                                                                  :place_holder => "k.A. zum Status" %></td>
                  <td><%= best_in_place on_shortlist, :costmodel, 
                                                          as: :select, 
                                                          :collection => [["Roadmap", "Roadmap"], 
                                                          ["Cost-Sharing", "Cost-Sharing"], 
                                                          ["Kundenprojekt", "Kundenprojekt"]], 
                                                                  :place_holder => "k.A. zum Cost-Model" %></td>
                  <td><%= best_in_place on_shortlist, :affects_version, 
                                                                  :place_holder => "Betroffene Versionen eintragen..." %></td>
                  <td><%= best_in_place on_shortlist, :issue_ticket, 
                                                             input_html: { value: "SC-" },
                                                                  :place_holder => "Ticket-Nr. eintragen..." %></td>
                  <td><%= best_in_place on_shortlist, :ticket_text, :as => :textarea, 
                                                                  :place_holder => "Ticket-Text eintragen..." %></td>
                  <td><%= best_in_place on_shortlist, :notes, :as => :textarea, 
                                                                  :place_holder => "Notizn..." %></td>
                  <td><%= best_in_place on_shortlist, :in_sprint, 
                                                                  :place_holder => "In Sprint..." %></td>
                  <td><%= on_shortlist.updated_at.strftime("%d. %b %Y") %></td>
                  <td><%= best_in_place on_shortlist, :client,
                                                          as: :select, 
                                                          :collection => [["O2", "O2"], ["Telefonica", "Telefonica"]], 
                                                          :place_holder => "k.A." %></td>
                  <td>
                    <ul style="list-style-type:none">
                      <!-- 'Show' <li>< %= link_to '', on_shortlist, class: 'glyphicon glyphicon-eye-open button', style: 'color:YellowGreen ;' %></li>   -->
                      <!-- 'Edit' <li>< %= link_to '', edit_on_shortlist_path(on_shortlist), class: 'glyphicon glyphicon-pencil button', style: 'color:YellowGreen ;' %></li>  -->
                      <li><%= link_to '', on_shortlist, class: 'glyphicon glyphicon-trash button', style: 'color:YellowGreen ;', method: :delete, data: { confirm: 'Are you sure?' } %></li> <!-- 'Destroy' -->
                    </ul>
                  </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
      </div>
  </section>
  
  
</div>
