<%= simple_form_for(open_positions_list, html: { class: 'form-group' }) do |f| %>
<div >
  <%= f.input :number, as: :hidden %>
  <%= f.input :shortlist, as: :boolean, checked_value: true, unchecked_value: false, :label => '  Auf die Shortlist setzen' %>
  <%= f.input :summary, required: true %>
  <%= f.input :description %>
  <div class="row">
    <div class="btn dropdown">
      <%= f.input :component, as: :select, collection: [ 'Facebook', 'Twitter', 'GuteFrage','Youtube', 'Instagram', 
                                                        'Foren', 'anderes SN (s. Beschreibung)', 'Agent Desktop', 
                                                        'Overview Panel', 'Detail Panel', 'Statistik', 'FAQ', 'Publishing', 
                                                        'Config', 'System allgemein', 'Import', 'Filter', 
                                                        'sonstiges [s. Beschreibung)'], 
                                                        :prompt => "Welche Komponente ist betroffen" %>
    </div>
    <div class="btn dropdown">
      <%= f.input :category, as: :select, collection: [ "FEATURE", "BUG", "IMPROVEMENT", "PROJECT", "STOPPED"], :prompt => "Kategorie w채hlen" %>
    </div>
    <div class="btn dropdown">
      <%= f.input :prio, as: :select, collection: ['TRIVIAL', 'MINOR', 'MAJOR', 'CRITICAL', 'BLOCKER'], :prompt => "Priorisierung w채hlen" %>
    </div>
    <div class="btn dropdown">
      <%= f.input :responsible, as: :select, collection: ['PO', 'QM', 'PL'], :prompt => "Zust채ndigkeit w채hlen" %>
    </div>
    <div class="btn dropdown">
      <%= f.input :state, as: :select, collection: ['TO-DO', 'ANALYSIS', 'IN PROGRESS', 'QA', 'DONE', 'REJECTED'], :prompt => "Aktueller Status" %>
    </div>
    <div class="btn dropdown">
      <%= f.input :costmodel, as: :select, collection: ['Roadmap', 'Cost-Sharing', 'Kundenprojekt'], :prompt => "Kostenmodell angeben" %>
    </div>
  </div>
  <%= f.input :option %>
  <%= f.input :affects_version, placeholder: "Affected Versions" %>
  <%= f.input :issue_ticket %>
  <%= f.input :ticket_text %>
  <%= f.input :notes %>
  <%= f.input :in_sprint %>
  <%= f.button :submit %>
  </div>
<% end %>

    
