<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Open Positions Lists</h1>
</div>

<section class="full-width center">
  
  <div >
<%= form_tag shortlist_editor_url, method: :put do %>
  <table class="table table-striped table-sm table-hover sortable">
    <thead style="background-color: #E6FFB4;">
      <tr>
        <th colspan="1"></th>
        <th>Shortlist</th>
        <th>ID</th>
        <th>Number</th>
        <th>Summary</th>
        <th>Description</th>
        <th>Option</th>
        <th>Component</th>
        <th>Category</th>
        <th>Prio</th>
        <th>Responsible</th>
        <th>State</th>
        <th>Costmodel</th>
        <th>Affects version</th>
        <th>Issue ticket</th>
        <th>Ticket text</th>
        <th>Notes</th>
        <th>In sprint</th>
        <th colspan="1"></th>
      </tr>
    </thead>
  
    <tbody>
      
      <% @open_positions_lists.each do |open_positions_list| %>
        <%= form_for(open_positions_list) do |f| %>
        <tr>
          <td><%= check_box_tag "open_positions_list_ids[]", open_positions_list.id %></td>
          <td><%= open_positions_list.shortlist %></td>
          <td><%= open_positions_list.id %></td>
          <td><%= open_positions_list.number %></td>
          <td><%= open_positions_list.summary %></td>
          <td><%= open_positions_list.description %></td>
          <td><%= open_positions_list.option %></td>
          <td><%= open_positions_list.component %></td>
          <td><%= open_positions_list.category %></td>
          <td><%= open_positions_list.prio %></td>
          <td><%= open_positions_list.responsible %></td>
          <td><%= open_positions_list.state %></td>
          <td><%= open_positions_list.costmodel %></td>
          <td><%= open_positions_list.affects_version %></td>
          <td><%= open_positions_list.issue_ticket %></td>
          <td><%= open_positions_list.ticket_text %></td>
          <td><%= open_positions_list.notes %></td>
          <td><%= open_positions_list.in_sprint %></td>
          <td>
            <ul style="list-style-type:none">
              <li><%= link_to 'Show', open_positions_list %></li>
              <li><%= link_to 'Edit', edit_open_positions_list_path(open_positions_list) %></li>
              <li><%= link_to 'Destroy', open_positions_list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Ausgewählte updaten" %>
  <% end %>
</div>
  <div>
  <%= link_to 'Neue Position anlegen', new_open_positions_list_path, class: 'btn btn-success' %>
</div>


  <br>
  <br>
  <hr class="padding-bottom-70">
</section>

