<!DOCTYPE html>
<html>
  <head>
    <title>Open Topics List</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    
  </head>
  <body>
    
    <div class="page-wrap">
      
      <div class="row">
        <div >
          <div>
            <%= render "layouts/navigation" %>
          </div>
        </div>
        <div class="row">
          <div class="container-opl">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="site-footer">
        <div class="row">
          <div>
            <%= render "layouts/footer" %>
          </div>
        </div>
    
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery-2.2.3.min' %>
    <%= javascript_include_tag 'best_in_place' %>
    <%= javascript_include_tag 'best_in_place.jquery-ui' %>
    <%= javascript_include_tag 'best_in_place.purr' %>
    
  </body>
</html>

